{{tool_name}}
{{tool_url}}
{{tool_version}}
{{datetime_str}}
{{local_timezone}}
{{project_table_row_count}}
{{total.passed}}
{{total.failures}}
{{total.errors}}
{{total.skipped}}
{{project_table.0.project_name}}
{{project_table.0.status_str}}
{{project_table.0.is_effective}}
{{project_table.0.tests}}
{{project_table.0.passed}}
{{project_table.0.failures}}
{{project_table.0.errors}}
{{project_table.0.skipped}}
{{project_table.1.project_name}}
{{project_table.1.status_str}}
{{project_table.1.is_effective}}
{{project_table.1.tests}}
{{project_table.1.passed}}
{{project_table.1.failures}}
{{project_table.1.errors}}
{{project_table.1.skipped}}
{{project_table.2.project_name}}
{{project_table.2.status_str}}
{{project_table.2.is_effective}}
{{project_table.2.tests}}
{{project_table.2.passed}}
{{project_table.2.failures}}
{{project_table.2.errors}}
{{project_table.2.skipped}}
EOF
